<div ng-init="vm.initialize()" ng-switch="vm._type">
    <form ng-switch-when="add" class="form-horizontal">

        <div class="col-sm-9 col-sm-offset-2 well">
            <div  class="form-group col-sm-12">
                <label for="country_name" class="col-sm-2 control-label">Country Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="country_name" ng-model="vm._masterdata.name" placeholder="Country Name">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="iso_code2" class="col-sm-2 control-label">ISO Code2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iso_code2" name="iso_code2" ng-model="vm._masterdata.iso_code_2" placeholder="ISO Code">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="iso_code3" class="col-sm-2 control-label">ISO Code3</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iso_code3" name="iso_code3" ng-model="vm._masterdata.iso_code_3" placeholder="ISO Code">
                </div>
            </div>

            <div class="col-sm-12 form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm._masterdata.status_type" ng-options=" option.id as option.value for option in vm.static_values.status">
                    </select>
                </div>
            </div>
            <div class="col-sm-offset-10">
                <button type="button" class="btn btn-primary" ng-click="vm.add()">Add Country</button>
            </div>
        </div>
    </form>
    <form ng-switch-when="edit" class="form-horizontal" ng-init="vm.getmaster()">

        <div class="col-sm-9 col-sm-offset-2 well">
            <div  class="form-group col-sm-12">
                <label for="country_name" class="col-sm-2 control-label">Country Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="country_name" ng-model="vm._masterdata.name" placeholder="Country Name">
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="iso_code2" class="col-sm-2 control-label">ISO Code2</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iso_code2" name="iso_code2" ng-model="vm._masterdata.iso_code_2" placeholder="ISO Code">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="iso_code3" class="col-sm-2 control-label">ISO Code3</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iso_code3" name="iso_code3" ng-model="vm._masterdata.iso_code_3" placeholder="ISO Code">
                </div>
            </div>

            <div class="col-sm-12 form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm._masterdata.status" ng-options=" option.id as option.value for option in vm.static_values.status">
                    </select>
                </div>
            </div>
            <div class="col-sm-offset-10">
                <button type="button" class="btn btn-primary" ng-click="vm.edit()">Save Country</button>
            </div>
        </div>
    </form>
    <div ng-switch-when="view" ng-init="vm.getmaster()">
        <h1>
            <span class="pull-right">
                <a href="{{vm.getLinkUrl('viewall')}}" ><button class="btn btn-primary" ><i class="fa fa-reply"></i></button></a>
                <a href="{{vm.getLinkUrl('edit', vm._id)}}" ><button class="btn btn-primary" ><i class="fa fa-pencil"></i></button></a>
                <button class="btn btn-danger " confirmed-click="vm.delete('{{vm._id}}')" ng-confirm-click="You really want to delete ?"><i class="fa fa-trash"></i></button>
            </span>
        </h1>
        <div class="col-sm-9 col-sm-offset-2 well">
            <div  class="form-group col-sm-12">
                <label for="country_name" class="col-sm-2 control-label">Country Name</label>
                <div class="col-sm-10">
                    {{vm._masterdata.name}}
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label for="iso_code2" class="col-sm-2 control-label">ISO Code2</label>
                <div class="col-sm-10">
                    {{vm._masterdata.iso_code_2}}
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="iso_code3" class="col-sm-2 control-label">ISO Code3</label>
                <div class="col-sm-10">
                    {{vm._masterdata.iso_code_3}}

                </div>
            </div>

            <div class="col-sm-12 form-group">
                <label for="status" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10">
                    {{vm._masterdata.status}}
                </div>
            </div>
        </div>
    </div>

    <div ng-switch-when="viewall">
        <div ng-include src="'module/admin/list.html'" >
        </div>
    </div>
</div>