<div class="row" ng-init="vm.loadAddresses();vm.loadMessage();">
    <div ng-include="'module/appmail/sidemenu.html'" class="col-sm-2">

    </div>
    <form name="newMail" class="form-horizontal m-t ">
        <div class="col-sm-10 row">

            <div class="form-group">
                <label class="col-lg-2 control-label">To:</label>
                <div class="col-lg-8" >
                    <!--<input type="text" class="form-control ng-pristine " ng-model="vm.to" tabindex="0" aria-invalid="false">-->
                 <tags-input ng-model="vm.to" 
                                type='email' 
                                add-from-autocomplete-only='true' 
                                min-tags="1" 
                                placeholder="Recipients" 
                                key-property="muid" 
                                display-property="email"
                                >
                        <auto-complete source="vm.loadAddresses($query)" 
                                       min-length="3"
                                       load-on-focus="false"
                                       load-on-empty="false" 
				       debounceDelay="1000" 
				       maxResultsToShow="5" 
                                       >
                        </auto-complete>
                    </tags-input>
                </div>
		
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Subject:</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control ng-pristine " ng-model="vm.subject" tabindex="0" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">&nbsp;&nbsp;</label>
                <div class="col-lg-8">
                    <div text-angular ta-toolbar="[['bold','italics','underline'],['ul','ol'],['undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent']]" ng-model='vm.content' required> </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-2">
                    <button class="btn btn-info w-xs" ng-click="vm.sendMessage();">Send</button>
                    <button class="btn btn-info w-xs" ng-click="vm.createDraft();">Save to Draft</button>
                </div>
            </div>
        </div>
    </form>
</div>
