<div class="row">

    <div class="col-md-2" ng-include="'module/appmail/sidemenu.html'">

    </div>
<div class="col-sm-9 col-md-10" ng-init="vm.loadMessage();">
            <div class="panel-inbox">
                <div class="panel-body">
                    <div class="inbox-mail-heading">
                        <div class="clearfix">
                            <div class="pull-left">
                                <a href="#/messages/{{vm.current_message_thread.message_type}}" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                                <div class="btn-group">
                                    <a ng-click="vm.moveMessageTo('trash', vm.current_message_thread.message_type)" class="btn btn-default"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
<!--                            <div class="pull-right hidden-xs">
                                <div class="btn-group">
                                    <a href="#/messages/view/{{vm.current_message_thread.previous}}" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
                                    <a href="#/messages/view/{{vm.current_message_thread.next}}" class="btn btn-default"><i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="p-md">
                        <div class="clearfix">
                            <h3 class="inbox-read-title pull-left">{{vm.current_message_thread.subject}}</h3>
                            <a href="#" class="btn btn-default pull-right hidden-xs"><i class="fa fa-print"></i></a>
                        </div>
                        <hr class=" mb-md">
                        <div class="inbox-read-details clearfix">
                            <div class="pull-left">
                                <div class="media-left">
                                    <!--<img class="inbox-read-sender-avatar img-circle" src="assets/demo/avatar/avatar_06.png" alt="Dangerfield">-->
                                </div>
                                <div class="media-body">
                                    <div>
                                        <span class="inbox-read-sender-name mr-xs">{{vm.current_message_thread.from}}</span>
                                        <span class="inbox-read-sender-email mr-xs hidden-xs">{{vm.current_message_thread.suite_id}}</span>
                                    </div>
                                    <div>
                                        <span class="inbox-read-sent-info">to 
                                            <span ng-repeat="address in vm.current_message_thread.to"> 
                                                <strong>{{address.email}}</strong>,
                                                <a href="#">
                                                    <strong>{{address.name}}</strong>
                                                </a>
                                            </span>
                                            <span title="{{vm.current_message_thread.created_at| formatdate:'longdatewithtime'}}"> {{vm.current_message_thread.created_at|amCalendar}} </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group dropdown">
                                    <a href="app-inbox-compose.html" class="btn btn-inverse"><i class="ion-reply visible-xs"></i><span class="hidden-xs">Reply</span></a>
                                    <a href="#" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret m-n"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>
                                    <ul class="dropdown-menu" style="left:auto;right: 0;" role="menu">
                                        <li><a href="#">Reply</a></li>
                                        <li><a href="#">Reply To All</a></li>
                                        <li><a href="#">Forward</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Print</a></li>
                                        <li><a href="#">Mark as unread</a></li>
                                        <li><a href="#">Delete this message</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class=" mt-md">
                        <div class="msg-body" ng-bind-html="vm.current_message_thread.content_html">
                            <!--{{vm.current_message_thread.content_html}}-->
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
</div>