<div class='col-sm-12'>
    <div ng-init='vm.getUserAlerts()' class="col-sm-offset-1 col-sm-10">
        <button class="btn btn-primary pull-right" ng-init="vm.getUserAlerts(true)" permission only="['manager','admin','superadmin']">My Alerts</button>
        <a  href="#/alerts/compose" class="btn btn-primary" permission only="['manager','admin','superadmin']">Add Alerts</a>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <tr ng-if="vm.alerts.length > 0" ng-click="vm.openMessage(message.muid)" ng-repeat="alert in vm.alerts">
                <td class="name">{{alert.from}}</td> 
                <td>
                    <div class="subject bold">{{alert.alert}}</div>
                </td>
                <td>
                    <div class="content">{{alert.desc}}</div>
                </td>
                <td class="created_timestamp" title="{{alert.created_at| formatdate:'longdatewithtime'}}">{{alert.created_at|amCalendar}}</td> 

            </tr>
        </table>
        <div ng-if="vm.alerts.length == 0 || vm.alerts == null">
            <p> There are no Alerts</p>
        </div>
    </div>
</div>