
/*
    Created on : Nov 3, 2016, 10:24:46 PM
    Author     : Megam Technologies LLP
*/
/*Common settings*/
$body-background:#fff;
$body-color:#000;
$body-font:Arial;


$font-stack:    Helvetica, sans-serif;
$primary-color: #2ecc71;
$secondary-color: #f1c40f;
$gray-dark:grey;

$success-color:             #5cb85c !default;
$info-color:                #5bc0de !default;
$warning-color:             #f0ad4e !default;
$danger-color:              #d9534f !default;
$inverse-color:             $gray-dark !default;


@mixin shadow() {
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@mixin transition(){
    -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

}
@mixin reset-filter() {
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}


@mixin vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    /*background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+*/
    /*background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12*/
    /*background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+*/
    background-repeat: repeat-x;
    /*filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb($start-color),argb($end-color))); // IE9 and down*/
}




/*Colors*/


/*Buttons*/
$button-forecolor:#fff;
$button-padding: 8px 30px;
$button-margin: 10px 1px;
$button-text-transform:uppercase;


.btn:not(.btn-link), .input-group-btn .btn:not(.btn-link), .btn-group .btn:not(.btn-link), .btn-group .input-group-btn .btn:not(.btn-link) {
    @include shadow();
    border: none;
    font-size: 14px;
    letter-spacing: 0;
    padding:$button-padding;
    margin:$button-margin;
    @include transition();
    text-transform: $button-text-transform;
    outline: 0;
    cursor: pointer;
    text-decoration: none;

}


// Mixin for generating new styles
@mixin btn_styles($btn-color: #555) {
    -webkit-backface-visibility: hidden;//Bugfix for flicking
    @include vertical($btn-color,darken($btn-color, 12%));
    @include reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners; see https://github.com/twbs/bootstrap/issues/10620
    background-color: $btn-color !important;
    background-repeat: repeat-x;
    border-color: darken($btn-color, 14%);
    color: white;
    &:hover,
        &:focus  {
        background-color: darken($btn-color, 12%);
        background-position: 0 -15px;
    }

    &:active,
        &.active {
        background-color: darken($btn-color, 12%);
        border-color: darken($btn-color, 14%);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
            &:focus,
            &.focus,
            &:active,
            &.active {
            background-color: darken($btn-color, 12%);
            background-image: none;
        }
    }
}




/*
*Alert
*/
.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
    @include shadow();
}

// Mixin for generating new styles
@mixin alert_styles($color) {
    /*@include vertical($btn-color,darken($btn-color, 12%));*/
    @include vertical($start-color: $color, $end-color: darken($color, 7.5%));
    border-color: darken($color, 15%);
    background-color: $color;
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 0;
    /*text-transform: uppercase;*/
    /*    padding:$button-padding;
        margin:$button-margin;*/

}

// Apply the mixin to the alerts
.alert-success    { @include alert_styles($success-color); }
.alert-info       { @include alert-styles($info-color); }
.alert-warning    { @include alert-styles($warning-color); }
.alert-danger     { @include alert-styles($danger-color); }


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress {
    @include vertical($start-color: darken($primary-color, 4%), $end-color: $primary-color);
    height: 4px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c8c8c8;
}

// Mixin for generating new styles
@mixin progress-bar-styles($color) {
    @include vertical($start-color: $color, $end-color: darken($color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar            { @include progress-bar-styles($primary-color); }
.progress-bar-success    { @include progress-bar-styles($success-color); }
.progress-bar-info       { @include progress-bar-styles($info-color); }
.progress-bar-warning    { @include progress-bar-styles($warning-color); }
.progress-bar-danger     { @include progress-bar-styles($danger-color); }

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped {
    /*#gradient > .striped();*/
}

// Common styles
.btn {
    // Remove the gradient for the pressed/active state
    &:active,
        &.active {
        background-image: none;
    }
}

.btn-default{
    @include btn_styles($primary-color);
}
.btn-primary{
    @include btn_styles($secondary-color);
}
.btn-success{
    @include btn_styles($success-color);
}
.btn-info{
    @include btn_styles($info-color);
}
.btn-warning{
    @include btn_styles($warning-color);
}
.btn-danger{
    @include btn_styles($danger-color);
}


//
// Navbar
// --------------------------------------------------

// Default navbar
.navbar-default {
    @include vertical($start-color: lighten($primary-color, 10%), $end-color: $primary-color);
    @include reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
    /*border-radius: @navbar-border-radius;*/
    @include shadow();
    background-color:$primary-color;

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        @include vertical($start-color: darken($primary-color, 5%), $end-color: darken($primary-color, 2%));
        @include shadow();
    }
}
.navbar-brand,
.navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
}
$primary-color-inverse:red;
// Inverted navbar
.navbar-inverse {
    @include vertical($start-color: lighten($primary-color-inverse, 10%), $end-color: $primary-color-inverse);
    @include reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered; see https://github.com/twbs/bootstrap/issues/10257
    /*border-radius: @navbar-border-radius;*/
    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        @include vertical($start-color: $primary-color-inverse, $end-color: lighten($primary-color-inverse, 2.5%));
        @include shadow();
    }

    .navbar-brand,
    .navbar-nav > li > a {
        text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    }
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

/*// Fix active state of dropdown items in collapsed mode
@media (max-width: @grid-float-breakpoint-max) {
    .navbar .navbar-nav .open .dropdown-menu > .active > a {
        &,
        &:hover,
            &:focus {
            color: #fff;
            #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
        }
    }
}*/

//Cards
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    span.card-title {
        color: #fff;
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .card-image {
        position: relative;
        overflow: hidden;
        img {
            border-radius: 2px 2px 0 0;
            background-clip: padding-box;
            position: relative;
            z-index: -1;
        }
        span.card-title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 16px;
        }
    }
    .card-content {
        padding: 16px;
        border-radius: 0 0 2px 2px;
        background-clip: padding-box;
        box-sizing: border-box;
        p {
            margin: 0;
            color: inherit;
        }
        span.card-title {
            line-height: 48px;
        }
    }
    .card-action {
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding: 16px;
        a {
            /*color: #ffab40;*/
            margin-right: 16px;
            transition: color 0.3s ease;
            text-transform: uppercase;
            &:hover {
                /*color: #ffd8a6;*/
                text-decoration: none;
            }
        }
    }
}

body {
    /*font: 100% $font-stack;*/
    background:  $body-background;
    color     :   $body-color;
    font      :   $body-font;
}
