<div ng-init="vm.getUserData()">
    <h3>AP Details</h3>
    <div class="panel-body table-responsive">

	<table ng-table-dynamic="vm.assistedPurchase with vm.cols_assistedPurchase" class="table table-bordered table-striped table-condensed">
	    <tr ng-repeat="row in $data">
		<td ng-repeat="col in $columns" ng-switch="col.type">
			<div ng-if="col.field == 'muid'">
                        <a href="#/assisted_purchase/purchase_view/{{row.muid}}"><button class="btn btn-primary"><i class="fa fa-eye" ></i></button></a>
                    </div>
		    <span ng-if="col.field !== 'muid'">
			    <span ng-if="col.type != 'date'">
				{{row[col.field]}}
			    </span>
			    <span ng-if="col.type == 'date'">
				{{row[col.field]| formatdate :'medium'}}
			    </span>
			</span>
		</td>
	    </tr>

	</table>
    </div>
    <h3>Package Details</h3>
    <div class="panel-body table-responsive">
	<table ng-table-dynamic="vm.userPackages with vm.cols_packages" class="table table-bordered table-striped table-condensed">
	    <tbody><tr ng-repeat="row in $data">
		    <td ng-repeat="col in $columns">
			<div ng-if="col.field == 'muid'">
			<a href="#/packages/view/{{row.muid}}" title="View" class="btn btn-primary">
                        <i class="fa fa-eye" ></i>
                    </a>
			</div>
			<span ng-if="col.field !== 'muid'">
			    <span ng-if="col.type != 'date'">
				{{row[col.field]}}
			    </span>
			    <span ng-if="col.type == 'date'">
				{{row[col.field]| formatdate :'medium'}}
			    </span>
			</span>
		    </td>
		</tr>
	    </tbody>
	</table>
    </div>
    <h3>Order Details</h3>
    <div class="panel-body table-responsive">
			<table ng-table-dynamic="vm.confirmedOrders with vm.cols" class="table table-bordered table-striped table-condensed">
			    <tr ng-repeat="row in $data">
				<td ng-repeat="col in $columns">
				    <div ng-if="col.field == 'muid'">
					<a href="#/orders/view/{{row.muid}}"><button class="btn btn-primary">
						<i class="fa fa-eye"></i>
					    </button>
					</a>
				    </div>
				    <span ng-if="col.field !== 'muid'">
					<span ng-if="col.type != 'date'">
					    {{row[col.field]}}
					</span>
					<span ng-if="col.type == 'date'">
					    {{row[col.field]| formatdate :'medium'}}
					</span>
				    </span>
				</td>
			    </tr>
			</table>    
		    </div>
</div>