
<link rel="stylesheet" href="css/form-elements.css">
<link rel="stylesheet" href="css/style.css">

<div class="top-content">
    <div class="inner-bg">
	<div class="container">
	    <!--	                        <div class="row">
						<div class="col-sm-8 col-sm-offset-2 text">
						    <h1><strong>Bootstrap</strong> Login &amp; Register Forms</h1>
						    <div class="description">
							<p>
								This is a free responsive <strong>"login and register forms"</strong> template made with Bootstrap. 
								Download it on <a href="http://azmind.com" target="_blank"><strong>AZMIND</strong></a>, 
								customize and use it as you like!
							</p>
						    </div>
						</div>
					    </div>-->
	    <div class="row">
		<div class="col-sm-5">

		    <div class="form-box">
			<div class="form-top">
			    <div class="form-top-left">
				<h3>Login with email</h3>
			    </div>
			    <div class="form-top-right">
				<i class="fa fa-lock"></i>
			    </div>
			</div>
			<div class="form-bottom">
			    <form role="form" novalidate="novalidate" ng-submit="vm.login()" name="registerform">
				<div class="form-group">
				    <label class="sr-only" for="username">Username</label>
				    <input type="text" class="form-control" placeholder="Email" ng-model="vm.username" required>
				</div>
				<div class="form-group">
				    <label class="sr-only" for="form-password">Password</label>
				    <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" required>
				</div>
				<div style="text-align: center;"><a href=""> forgot your password? </a></div>
				<button type="submit" class="btn">Sign In</button> 
				<div style="text-align: center;color:#fff;"> OR </div>    
				<button type="button" class="btn-block btn-facebook" ng-click="vm.authenticate('facebook')">
				    <span class="pull-left"><i class="fa fa-facebook-official fa-2x"></i></span> Sign in with Facebook
				</button>
				<button type="button" class="btn-block btn-google-plus" ng-click="vm.authenticate('google')">
				    <span class="pull-left"><i class="fa fa-google-plus fa-2x"></i></span> Sign in with Google
				</button>
			    </form>
			</div>
		    </div>
		</div>

		<div class="col-sm-1 middle-border"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
		    <div class="form-box">
			<div class="form-top">
			    <div class="form-top-left">
				<h3>New User? Sign up for free</h3>
				<p>Fill the form below to get instant access:</p>
			    </div>
			    <div class="form-top-right">
				<i class="fa fa-pencil"></i>
			    </div>
			</div>
			<div class="form-bottom">
			    <form role="form" novalidate="novalidate" ng-submit="vm.register()" name="registerform">
				<div class="form-group">
				    <label class="sr-only" for="first_name">First name</label>
				    <input type="text" class="form-control" id="first_name" name="first_name" ng-model="vm.users.first_name" placeholder="First Name" required>
				</div>
				<div class="form-group">
				    <label class="sr-only" for="email">Email</label>
				    <input type="text" class="form-control" id="email" ng-model="vm.users.email"   required placeholder="Your email address">
				</div>
				<div class="form-group">
				    <label class="sr-only" for="password">Password</label>
				    <input type="password" class="form-control" id="password" ng-model="vm.users.password"  ng-minlength="6" ng-maxlength="25" required placeholder="Choose a password">
				</div>
				<div class="form-group">
				    <label class="sr-only" for="verify_password">Password</label>
				    <input type="password" class="form-control" id="verify_password" ng-model="vm.users.verify_password"   required placeholder="Re-type your password">
				</div>
				
				<div class="form-group">
				<input type="checkbox" ng-model="vm.users.accept_terms" required> I agree to the <a href="http://www.megamtech.com/Terms-And-Conditions/"> terms and conditions</a>				
				</div>
				
				<button type="submit" class="btn">Sign me up!</button>
			    </form>
			</div>
		    </div>

		</div>
	    </div>

	</div>
    </div>

</div>

