
<div class="row">
    <div class="col-sm-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">Current Consolidation Request(0)</div>
            <div class="panel-body" ng-init="vm.getUserConfirmedOrders()">
                <table ng-table-dynamic="vm.confirmedOrders with vm.cols" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data">
                        <td ng-repeat="col in $columns" >
                            <div ng-if="col.field == 'muid'">
                            </div>
                            <span ng-if="col.field !== 'muid'">
                                {{row[col.field]}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">Current Shipments</div>
            <div class="panel-body" ng-init="vm.getUserShippedOrders()">
                <table ng-table-dynamic="vm.userShipment with vm.cols" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data">
                        <td ng-repeat="col in $columns" >
                            <div ng-if="col.field == 'muid'">
                            </div>
                            <span ng-if="col.field !== 'muid'">
                                {{row[col.field]}}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12" >
        <div class="panel panel-primary">
            <div class="panel-heading">Current Packages</div>
            <div class="panel-body"  ng-init="vm.getUserPackagesNotConfirmed()">
                <table ng-table-dynamic="vm.currentPackages with vm.cols" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data">
                        <td ng-repeat="col in $columns" >
                            <div ng-if="col.field == 'muid'">
                                <a href="{{vm.getLinkUrl('view', row.muid)}}" >
                                    <button class="btn btn-primary" data-toggle="modal" ng-click="vm._package = row.muid" data-target=".bs-example-modal-lg"><i class="fa fa-eye"></i></button></a>
                            </div>
                            <span ng-if="col.field !== 'muid'">
                                {{row[col.field]}}
                            </span>
                        </td>
                    </tr>
                </table>
                <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <uib-accordion close-others="true">
                                    <uib-accordion-group heading="Address" is-open="true" >
                                        <div ng-init="vm.getUserAddresses()"  class=" warehouse-addresses">
                                            <div class="warehouse-address col-sm-3 well" ng-repeat="(key,address) in vm._user.addresses">
                                                <address>
                                                    <b>{{address.firstname}} {{address.lastname}}</b><br/>
                                                    {{address.street1}}<br/>
                                                    {{address.city}},{{address.state}},<br/>
                                                    {{address.country}} - {{address.zip}}<br/>
                                                </address>
                                                <switch id="address_id" value="{{address.address_id}}" name="address_id" ng-model="vm.ship_to_address" enabled="true" on="Yes" off="No" class="green"></switch>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" ng-click="vm.showConfirmOrder('showProductsTab')">Next</button>
                                        </div>
                                    </uib-accordion-group>
                                    <uib-accordion-group heading="Product" is-open="vm.status.showProductsTab">
                                        <div>
                                            <table class="table table-bordered table-striped table-condensed">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Order Id</th>
                                                        <th>Product Name</th>
                                                        <th>Purchase At</th>
                                                        <th>Category</th>
                                                        <th>Weight</th>
                                                        <th>Dimensions</th>
                                                        <th>Value</th>
                                                        <th>Need Photo</th>
                                                        <th>Remove Original Carton</th>
                                                        <th>Ship</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="package in vm._packages">
                                                        <td><span>{{$index + 1}}</span></td>
                                                        <td>{{package.order_id}}</td>
                                                        <td>{{package.product}}</td>
                                                        <td>{{package.purchased_at}}</td>
                                                        <td>{{package.category}}</td>
                                                        <td>{{package.weight}}</td>
                                                        <td>{{package.dimensions}}</td>
                                                        <td><input type="text" class="form-control" value="0" ng-model="package.value"></td>
                                                        <td><input type="checkbox" value="1" ng-model="package.is_photo_needed"></td>
                                                        <td><input type="checkbox"  value="1" ng-model="package.remove_original_carton"></td>
                                                        <td><input type="checkbox"  value="1" ng-model="package.is_ship"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-primary" ng-click="vm.showConfirmOrder('showShippingTab')">Next</button>
                                        </div>
                                    </uib-accordion-group>
                                    <uib-accordion-group heading="Shipping Carrier" is-open="vm.status.showShippingTab">
                                        <div class="col-sm-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-body">
                                                    <ul ng-if="vm.carrierlists" class="list-group">

                                                        <li class="list-group-item" ng-repeat="carrier in vm.carrierlists">
                                                            <div class="table">
                                                                <div class="method-logo ng-binding">
                                                                    {{carrier.carrier}}
                                                                    ({{carrier.service}})

                                                                </div>

                                                                <p class="price withInsurance false" >
                                                                    {{carrier.rate}} {{carrier.currency}}
                                                                </p>
                                                                <p>Delivery:{{carrier.delivery_days}}</p>
                                                                <button class="btn btn-primary" ng-click="vm.selectCarrier()">Select</button>
                                                            </div>


                                                        </li>
                                                    </ul>
                                                    <div ng-show="!vm.carrierlists.length">Calculating shipment cost please wait...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-accordion-group>
                                    <uib-accordion-group heading="Pay" is-open="vm.status.showReviewTab">
                                        Payments
                                    </uib-accordion-group>
                                </uib-accordion>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
