

/*
    Created on : Nov 3, 2016, 11:24:40 PM
    Author     : Jithendra Reddy
*/

@mixin box-shadow($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}